#Visual Studio/build folders
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
build/
Release/
Debug/

#CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

#OS files
Thumbs.db
.DS_Store

#Binaries
*.exe
*.dll
*.pdb
